	<div>
		<p>
			{{post.author.nickname}} says <p><span id='post{{post.id}}'>{{post.body}}</span></p>
		</p>
        <p>{{momentjs(post.timestamp).fromNow()}}</p>
	</div>

	<p>{{post.language}}</p>
	<div>
		<span id='ajax{{post.id}}'>
			<a href="javascript:test_ajax('{{post.id}}')">ajax</a>
		</span>
	</div>
{% if post.author.id == g.user.id %}
	<div><a href="{{ url_for('delete', id = post.id) }}">DELETE</a></div>
{% endif %}
	<img id='loading{{post.id}}' style='display:None' src="/static/img/loading.gif">